/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);*/

body {
	margin: 0;
	padding: 0;
}

.center {
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -180px -300px;
}

.center404 {
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -200px -202px;
}